@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}




@media only screen and (max-width: 1000px) {
    body {
        background-color: lightblue;
    }

    h1.start-title {
        display: none;
    }

    .menus {
        width: 100vw;
        height: 100vh;
    }

    .control-mobile {
        position: absolute;
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
        bottom: 20px;
        right: 0;
        left: 0;
    }

    .start-menu {
        height: 100vh;
        width: 100vw;
        padding-top: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: center;
        background-image: url(img/9_intro_outro_screens/start/startscreen_1.png);
        background-color: rgb(88, 88, 88);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 0px 24px -6px black;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .privacy-policy {
        width: 90%;
        padding: 20px;

    }
}