@media only screen and (max-width: 1000px) {
    body {
        background-color: lightblue;
    }

    h1.start-title {
        display: none;
    }

    #fullscreen {
        width: 100vw;
        height: 100vh;
    }

    .menus {
        width: 100vw;
        height: 100vh;
    }

    .control-info {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.855);
        z-index: 10;
    }
}