@font-face {
    font-family: 'Zabars';
    src: url(./fonts/Zabars.ttf) format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./img/start_screen/desert.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.d-none {
    display: none !important;
}

h1 {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    font-size: 64px;
    letter-spacing: 3px;
}

.win-screen {
    height: 480px;
    width: 780px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-image: url(img/9_intro_outro_screens/start/startscreen_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 24px -6px black;
    border-radius: 10px;
}

.gameover-screen {
    height: 480px;
    width: 780px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-image: url(img/9_intro_outro_screens/start/startscreen_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 24px -6px black;
    border-radius: 10px;
}

.start-screen {
    height: 480px;
    width: 780px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-image: url(img/9_intro_outro_screens/start/startscreen_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 24px -6px black;
    border-radius: 10px;
}

.start-sound {
    height: 42px;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.start-sound img {
    height: 42px;
    padding: 20px;
    position: absolute;
    cursor: pointer;
}

.start-btn {
    font-family: 'Zabars';
    letter-spacing: 1px;
    font-size: 32px;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 2px solid black;
    border-bottom: 5px solid black;
    /* background-image: url(./img/start_screen/btn-background.png); */
    background-color: #feb03b;
    background-size: cover;
    cursor: pointer;
    z-index: 1;
}

.start-btn:hover {
    background-color: #ffbf60;
    border: 2px solid black;
    border-bottom: 5px solid black;
    width: 160px;
}

canvas {
    display: block;
    box-shadow: 0px 0px 24px -6px black;
    border-radius: 10px;
}