@font-face {
    font-family: 'Zabars';
    src: url(./fonts/Zabars.ttf) format('truetype');
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./img/start_screen/desert.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.d-none {
    display: none !important;
}

.close {
    height: 50px;
    cursor: pointer;
    width: 400px;
}

h1 {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    font-size: 64px;
    letter-spacing: 3px;
}

.menus {
    height: 480px;
    width: 780px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-image: url(img/9_intro_outro_screens/start/startscreen_1.png);
    background-color: rgb(88, 88, 88);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 24px -6px black;
    border-radius: 10px;
}

.win-menu {
    font-size: 46px;
    letter-spacing: 3px;
    font-family: 'Zabars';
    background-image: unset;
    background-color: rgb(88, 88, 88);
    gap: 40px;
}

.win-menu-btn {
    display: flex;
    gap: 20px;
}

.game-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.735);
}

.control-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.855);
    z-index: 10;
}

.control-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: 'Zabars';
    font-size: 42px;
    letter-spacing: 4px;
    color: white;
}

.control-container img {
    height: 70px;
}

.game-options {
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 25px;
    top: 20px;
    right: 20px;
}

.game-options img {
    height: 42px;
    cursor: pointer;
}

.menu-btn {
    font-family: 'Zabars';
    letter-spacing: 1px;
    font-size: 32px;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 2px solid black;
    border-bottom: 5px solid black;
    /* background-image: url(./img/start_screen/btn-background.png); */
    background-color: #feb03b;
    background-size: cover;
    cursor: pointer;
    z-index: 1;
    transition: width 0.2s;
}

.menu-btn:hover {
    background-color: #ffbf60;
    border: 2px solid black;
    border-bottom: 5px solid black;
    width: 160px;
}

canvas {
    display: block;
    box-shadow: 0px 0px 24px -6px black;
    border-radius: 10px;
}

.fullscreen {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;   
    height: 100vh;   
    background-color: black;
}

.fullscreen .menus { 
    height: 100%; 
    width: 100%;  
}

.fullscreen canvas {
    width: 100%; 
    height: 100%;
}